@import '../../App.scss';
.header {
  // position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 49px 0;

  @media screen and (max-width: 770px) {
    padding: 20px 0;
  }

  .cart__btn {
    i {
      font-style: normal;
    }
    @media screen and (max-width: 770px) {
      min-width: 95px;
      i {
        display: none;
      }
    }
    button {
      width: 100%;
      @extend .btn;

      background-color: $orang;
      background-color: $orang;
      color: white;
      @media screen and (max-width: 770px) {
        padding: 10px 15px;
        height: 45px;
        font-size: 13px;
      }
    }

    img {
      width: 15px;
      margin: 2px 5px 0 5px;
    }
  }
}

.logoImg {
  margin: 0 15px 0 0;
}

.logo {
  display: flex;
  align-items: flex-end;
  // line-height: 20px;

  @media screen and (max-width: 706px) {
    width: 180px;
    line-height: 15px;
  }
  @media screen and (max-width: 520px) {
    width: 40px;
    margin-right: 10px;
  }
  @media screen and (max-width: 520px) {
    width: 40px;
    margin-right: 10px;
  }
  @media screen and (max-width: 350px) {
    display: none;
  }

  .slogan {
    @media screen and (max-width: 520px) {
      display: none;
    }

    p {
      font-weight: bold;
      font-size: 20px;
      @media screen and (max-width: 706px) {
        font-size: 15px;
      }
    }
    span {
      color: #7b7b7b;
      font-size: 10px;
      @media screen and (max-width: 706px) {
        font-size: 8px;
        line-height: 0;
      }
    }
  }

  img {
    width: 38px;
  }
}
