@import '../../App.scss';
.root {
  position: relative;
  // left: -100px;
  width: 700px;

  @media screen and (max-width: 1154px) {
    left: 0;
    width: 500px;
  }
  @media screen and (max-width: 947px) {
    width: 300px;
  }
  @media screen and (max-width: 565px) {
    width: 200px;
  }

  .serchIcon {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.5;
  }

  .cancelIcon {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    cursor: pointer;
  }

  .input {
    padding: 10px 10px 10px 40px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    width: 70%;
    transition: 0.5s;

    @media screen and (max-width: 943px) {
      width: 98%;
    }

    &:focus {
      border: 0;
      width: 100%;
    }
  }
}
