$orang: #fe5f1e;
$activColor: #2c2c2c;
$lightGray: #d3d3d3;

a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  line-height: 20px;
}
p,
span {
  margin: 0;
  padding: 0;
  // line-height: 0;
}
body {
  background: rgba(255, 223, 140, 1);
}
.btn {
  border: 0;
  display: flex;
  justify-content: space-around;
  padding: 13px 25px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 30px;
  color: white;
  // @media screen and (max-width: 770px) {
  //   padding: 10px 15px;
  //   font-size: 13px;
  // }
}

.wrapper {
  background: rgba(255, 255, 255, 1);
  margin: 0 auto;
  padding: 0 35px;
  max-width: 1340px;
  @media screen and (max-width: 1421px) {
    margin: 0 5px;
  }
}
h3 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 35px;
}

.pizzaList {
  margin: 0 10px 86px 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  @media screen and (max-width: 1346px) {
    justify-content: space-between;
    padding: 0 10px;
  }
  @media screen and (max-width: 1354px) {
    justify-content: space-around;
  }

  svg {
    margin: 5px 23px 86px 23px;
  }
}
.filter {
  position: relative;
  display: flex;
  margin: 30px 0;
  justify-content: space-between;
  justify-items: center;

  @media screen and (max-width: 770px) {
    flex-direction: column-reverse;
    margin-top: 10px;
  }
}
