.content {
  max-width: 550px;
  margin: 0 auto;
  padding: 100px;
  text-align: center;
  p {
    font-size: 20px;
    color: #7777;
  }
}

h2 {
  font-size: 32px;
  color: black;
}

.emptyImg {
  margin: 80px;
}
