@import '../../App.scss';
.filterList {
  position: relative;
  padding-top: 25px;
  position: relative;
  width: 200px;

  span {
    color: $orang;
    padding-left: 10px;
    cursor: pointer;
  }
}
.sort_popUp {
  position: absolute;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 30%);
  right: 10px;
  top: 60px;
  padding: 10px 0;

  p {
    padding: 10px 22px 11px 22px;
    &:hover {
      background-color: rgba(254, 93, 30, 0.1);
      cursor: pointer;
    }
  }
}
.activF {
  color: $orang;
}
